body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 15px;
    background-color: #c8dad3;
    background-image: url('Assets/background/background_site.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 600px auto; 
  }

#instructionBox {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 300px;
  bottom: 0px;
  left: 130px;
  color: #237543;
}




  /*display: flex;
  border: 2px solid #888;
  width: 600px;
	height: 120px;
	padding: 5px;
  font-family: 'Baloo Tammudu 2', cursive;
	background-repeat: no-repeat;
}